<% if (post && index) { %>
	<li class="list-group-item title">
	    <a target="_blank" href="<%- url_for(post.path) %>">
	    	<span class="archive-date"><%- date(post.date) %></span>
	    	<%= post.title %>
	    </a>
	</li>
<% } else { %>
	<%- post.content %>
	<% if (post.comments) { %>
		<div class="hidden-xs" id="uyan_frame"></div>
	<% } %>
<% } %>
