<% if (post && index){ %>
<li class="list-group-item title">
    <a target="_blank" href="<%- url_for(post.path)%>"><%= post.title%></a>
</li>
<% } else { %>
<%- post.content %>
<% if (page.comments && !(is_current('codes/', true))){ %>
<div id="uyan_frame"></div>
<% } %>
<% } %>
