<html>
<%- partial('_partial/head') %>
<body>
<%- body %>
<% if ((is_post() || is_current('about/', true)) && page.comments) { %>
	<script src="http://v2.uyan.cc/code/uyan.js" async></script>
<% } %>
</body>
</html>
