body {
  font-family: "Microsoft YaHei", STXihei, Helvetica, Arial, Vernada, Tahoma, "Songti SC", SimSun, Heiti, sans-serif;
  font-size: 18px;
}

a {
  display: block;
}

.title {
  font-size: 16px;
  cursor: pointer;
}

li.title:hover {
  background-color: #eee;
}

.panel {
  border-radius: 0;
}

.panel-default > .panel-heading {
  background-image: none;
  background-color: #fff;
}

.navbar-default {
  background-image: none;
  background-color: #fff;
  box-shadow: none;
}

.nav {
  font-size: 16px;  
}

.archive-date {
  margin-right: 1em;
  color: black;
}

#uyan_frame {
  margin-top: 80px;
  padding-top: 1em;
  border-top: 1px dashed #ccc;
}
